.layout {
  /* background: rgb(241, 239, 239); */
  background: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 120px;
}

.paragraphContainer {
}

.apartmanSection {
  margin: 40px 20px;
}

.apartmanSection h2 {
  text-align: center;
  text-transform: uppercase;
}

.apartmanSection p {
  margin-top: 10px;
  text-align: justify;
}

.apartmanSection img {
  width: 400px;
  height: auto;
  margin-top: 20px;
  border: 2px solid rgb(7, 57, 7);
  border-radius: 8px;
}

.button {
  margin: 80px;
  transition: 0.2s ease-in;
  border-radius: 6px;
}

.button:hover {
  transform: scale(1.04);
  opacity: 0.8;
}

.button:active {
  transform: scale(0.96);
  opacity: 0.8;
}

.price {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
}

.price p {
  margin: 5px 0;
}

.price .singlePrice {
  font-weight: bold;
  color: #ff5733;
  margin: 10px 0;
}

.price .fullPrice {
  font-weight: bold;
  color: #2e8b57;
}

@media (max-width: 500px) {
  .price {
    font-size: 1rem;
  }
  .apartmanSection img {
    width: 300px;
  }

  .apartmanSection {
    max-width: 300px;
  }
}

@media (max-width: 340px) {
  .price {
    font-size: 0.8rem;
  }

  .apartmanSection img {
    width: 200px;
  }

  .apartmanSection {
    max-width: 300px;
  }
}
