.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(222, 222, 222);
  
}

.article {
  margin-bottom: 40px;
  margin-top: 80px;
  background-color: #fff;
  width: 100%;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  text-align: center;
}

.section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  border: 2px solid rgb(46, 47, 46);
  border-radius: 8px;
}

.section a {
  text-decoration: none;
  color: rgb(7, 57, 7);
}

.section a:hover {
  text-decoration: underline;
}

.section p {
  margin: 10px 0;
  color: black;
  font-size: 16px;
}

.section h3,
.section h2 {
  text-transform: uppercase;
  margin-top: 20px;
  color: rgb(7, 57, 7);
}

@media (max-width: 800px) {
  .article {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .section img {
    max-width: 100%;
  }

  .section p {
    font-size: 14px;
  }
}
