.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(222, 222, 222);
  margin-top: 120px;
  padding: 20px;
}

.article {
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.section p {
  margin: 10px 0;
  color: black;
}

.section a {
  text-decoration: none;
  color: #4caf50;
  margin: 10px 0;
  font-size: 18px;
  transition: color 0.3s ease;
}

.section a:hover {
  text-decoration: underline;
  color: #2e7d32;
}

.section h3,
.section h2,
.section h4 {
  text-transform: uppercase;
  margin-top: 20px;
}

.section img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  border: 2px solid #073907;
  border-radius: 8px;
}

.blurImage {
  filter: blur(10px);
  transition: filter 0.3s ease;
}

@media (max-width: 500px) {
  .layout {
    font-size: 14px;
  }

  .section a {
    font-size: 16px;
  }

  .section img {
    max-width: 100%;
  }
}

@media (max-width: 281px) {
  .layout {
    font-size: 12px;
  }

  .section a {
    font-size: 14px;
  }

  .section img {
    max-width: 100%;
  }
}
