/* footer of App */

:root {
  --background-color-black: #A1662F;
  --color-white: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color-black);
  color: var(--color-white);
  padding: 1.25rem 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footerLink {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
}
.footerLink:hover {
  text-decoration: underline;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


