/* footer of App */

:root {
  /* --background-color-black: #311807; */
  --color-white: #fff;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-top: 150px;
}

.footer {
  text-decoration: none;
  background: rgb(46, 47, 46);
  color: var(--color-white);
  padding: 1.25rem 0;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.footerLink {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
}
.footerLink:hover {
  text-decoration: underline;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.kontakt:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer {
    font-size: 14px;
  }
}

@media (max-width: 281px) {
  .footer {
    font-size: 12px;
  }
}
