/* .layout {

  background: rgb(222, 222, 222);
  margin: 120px 0;
}

.apartmanLinks {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 40px;
}

.apartmanLinks a {
  text-decoration: none;
  margin: 10px auto;
  color: black;
  text-transform: uppercase;
  margin: 60px;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.apartmanLinks a:hover {
  transform: scale(1.04);
  text-decoration: underline;
}

.apartmanLinks a:focus {
  transform: scale(0.96);
}

.apartmanLinks a:active {
  transform: scale(0.96);
}
.apartmanLinks img {
  width: 400px;
  height: auto;
  margin-top: 20px;
  border: 2px solid white;
}

@media (max-width: 500px) {
  .layout {
    margin: 0;
  }

  .apartmanLinks img {
    width: 300px;
  }
  .apartmanLinks a {
    font-size: 14px;
  }
}
@media (max-width: 281px) {
  .layout {
    margin: 60px 0;
  }

  .apartmanLinks img {
    width: 300px;
  }
  .apartmanLinks a {
    font-size: 14px;
  }
} */

.layout {
  background: rgb(222, 222, 222);
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 120px;
}

.apartmanContainer {
  margin-top: 40px;
  height: auto;
  width: 410px;
  /* background: linear-gradient(to left, #76411b, #a2550d); */
  background: rgb(7, 57, 7);
  border: 5px solid white;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.apartmanContainer:hover {
  background: linear-gradient(to left, #76411b, #a2550d);
  border: 5px solid rgb(7, 57, 7);
  transform: scale(0.98);
}

.apartmanLinks {
  list-style: none;
  margin-right: 40px;
  margin-bottom: 120px;
}

.linkContainer {
  padding: 30px 0;
}

.apartmanLinks a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.apartmanLinks a:hover {
  transform: scale(1.04);
  text-decoration: underline;
}

.apartmanLinks a:focus {
  transform: scale(0.96);
}

.apartmanLinks a:active {
  transform: scale(0.96);
}
.apartmanLinks img {
  width: 400px;
  height: auto;
  transform: translateY(4px);
}

.priceContainer {
  margin: 120px 0;
}

@media (max-width: 500px) {
  .layout {
    margin-top: 120px;
  }

  .apartmanContainer {
    width: 300px;
  }

  .apartmanLinks img {
    width: 100%;
  }
  .apartmanLinks a {
    font-size: 14px;
  }
}

@media (max-width: 281px) {
  .layout {
    margin-top: 120px;
  }
  .apartmanContainer {
    width: 200px;
  }

  .apartmanLinks img {
    width: 100%;
  }
  .apartmanLinks a {
    font-size: 12px;
  }
}
