.layout {
  background-color: #966f33;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  font-weight: 400;
}

.logo img {
  width: 100px;
  height: 80px;
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.linkItems {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

nav a:hover {
  color: white;
  opacity: 0.8;
  transform: scale(1.1);
}

nav a:active {
  transform: scale(0.9);
}

/* Default styl pro hamburger menu */
.hamburgerMenu {
  display: none;
}

@media (max-width: 670px) {
  .navItems {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .showMenu {
    background-color: #c98724;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 124px;
    right: 0;
    width: 20%;
  }

  .showMenu a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
  }
}
