.layout {
  position: fixed;
  top: 0;
  background: linear-gradient(to right, #76411b, #a2550d);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 10000;
  margin-bottom: 200px;
}

.logo img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  cursor: pointer;
  transition: transform 2s ease-in-out;
}

.logo img:hover {
  transform: rotateY(360deg);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.linkItems {
  margin-right: 20px;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

nav a:hover {
  color: white;
  opacity: 0.8;
  transform: scale(1.04);
  text-decoration: underline;
  text-underline-offset: 8px;
}

nav a:active {
  transform: scale(0.96);
  opacity: 0.8;
}

.active {
  /* text-decoration: underline; */
  text-underline-offset: 8px;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

/* Default styl pro hamburger menu */
.hamburgerMenu {
  display: none;
}

@media (min-width: 850px) {
  nav a {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  nav a {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  nav a {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  nav a {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  nav a {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .navItems {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .showMenu {
    /* background-color: #a1662f; */
    background: linear-gradient(#76411b, #df8a3b);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 19.4%;
    right: 0;
    width: 150px;
    height: auto;
    margin: 70px 0px;
    z-index: 100;
  }

  .showMenu a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
  }
}
