.layout {
  /* background: rgb(241, 239, 239); */
  background: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 120px 0;
}



.welcomeSection {
  margin: 20px 0;
  display: flex;
  text-align: center;
  justify-content: row;
  flex-direction: column;
  background: linear-gradient(to bottom right, #76411b, #a2550d);
  padding: 20px;
  width: 800px;
  height: auto;
  border: 5px solid white;
  border-radius: 8px;
}

.welcomeTitle {
  text-transform: uppercase;
}

.welcomeSection p,
.welcomeSection2 p {
  text-align: center;
  letter-spacing: 0.2px;
  margin: 20px 0;
}

.welcomeSection2 {
  margin: 20px 0;
  display: flex;
  text-align: center;

  flex-direction: column;

  background: linear-gradient(to bottom right, #76411b, #a2550d);
  padding: 20px;
  width: 800px;
  height: auto;
  border: 5px solid white;
  border-radius: 8px;
}

.welcomeTitle2 {
  text-transform: uppercase;
}
.homeImage {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .layout {
    flex-direction: column;
    justify-content: center;
  }

  .welcomeSection,
  .welcomeSection2 {
    justify-content: center;
    width: 800px;
    margin-right: 0;
    margin-left: 0;
    margin: 20px;
    font-size: 14px;
  }

  .welcomeTitle {
    font-size: 16px;
  }

  .homeImage {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 850px) {
  .layout {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .welcomeSection,
  .welcomeSection2 {
    text-align: center;
    font-size: 12px;
    margin: 20px;
    width: auto;
  }

  .welcomeTitle {
    font-size: 14px;
  }

  .homeImage {
    width: 100%;
    height: auto;
  }
}
