.layout {
  background: rgb(222, 222, 222);
  /* margin: 40px 0px;
  background: url("../img/pension3.jpg") center;
  background-size: cover; */
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 40px 0;
}

.apartmanContainer {
  margin-top: 40px;

  height: 330px;
  width: 404px;
  background: linear-gradient(to left, #76411b, #a2550d);
  border: 2px solid white;
}

.apartmanLinks {
}

.linkContainer {
  padding: 30px 0;
}

.apartmanLinks a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.apartmanLinks a:hover {
  transform: scale(1.04);
  text-decoration: underline;
}

.apartmanLinks a:focus {
  transform: scale(0.96);
}

.apartmanLinks a:active {
  transform: scale(0.96);
}
.apartmanLinks img {
  width: 400px;
  height: auto;
}

.priceContainer {
  margin-bottom: 100%;
}

@media (max-width: 500px) {
  .layout {
    display: flex;
    margin-top: 40px;
  }

  .apartmanLinks img {
    width: 300px;
  }
  .apartmanLinks a {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .layout {
    display: flex;
    margin-top: 40px;
  }

  .apartmanLinks img {
    width: 200px;
  }
  .apartmanLinks a {
    font-size: 12px;
  }
}
