.apartmanLinks {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(222, 222, 222);
}

.apartmanLinks a {
  text-decoration: none;
  margin: 10px auto;
  color: black;
  text-transform: uppercase;
  margin: 20px;
  transition: color 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.apartmanLinks a:hover {
  transform: scale(1.04);
  text-decoration: underline;
}

.apartmanLinks a:focus {
  transform: scale(0.96);
}

.apartmanLinks a:active {
  transform: scale(0.96);
}
.apartmanLinks img {
  width: 400px;
  height: auto;
  margin-top: 20px;
  border: 2px solid white;
}

